.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #1b1b1b;
  border-radius: 30px; /* Giving it a rounded pill-like appearance */
  margin: 20px 0;
  width: 95%; /* Slightly less than full width for a bit of margin */
  max-width: 1200px;
}

.header__title {
  font-size: 1.5 rem;
  color: #fff;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: inherit; /* This ensures that the link uses the same color as its surrounding text */
  cursor: pointer; /* Changes the cursor to a hand icon when hovering over the link */
}
